.emailPanel {
  margin-top: 12vh;
  padding: 8% 5% 8% 5%;
  height: fit-content;
  width: 25vmax;
  z-index: 1;
  background-color: #efefef;
  box-shadow: 1px 2.8px 2.2px rgba(0, 0, 0, 0.034),
    2px 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 8.3px 17.9px rgba(0, 0, 0, 0.172);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
}
